<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>itc_itt_Table.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,2},{605,457}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{605,457}}</string>
                <key>sourceSize</key>
                <string>{615,457}</string>
            </dict>
            <key>itc_itt__mh.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,1954},{64,60}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,60}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>itc_itt_door.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,1362},{423,497}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{423,497}}</string>
                <key>sourceSize</key>
                <string>{423,497}</string>
            </dict>
            <key>itc_itt_fozhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,1273},{76,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,36}}</string>
                <key>sourceSize</key>
                <string>{76,36}</string>
            </dict>
            <key>itc_itt_guanYin.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,697},{371,677}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{371,677}}</string>
                <key>sourceSize</key>
                <string>{371,677}</string>
            </dict>
            <key>itc_itt_lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,1954},{38,71}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,19},{38,71}}</string>
                <key>sourceSize</key>
                <string>{66,105}</string>
            </dict>
            <key>itc_itt_lockLight.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,1227},{66,101}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{66,101}}</string>
                <key>sourceSize</key>
                <string>{66,105}</string>
            </dict>
            <key>itc_itt_mh2.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,697},{489,528}}</string>
                <key>offset</key>
                <string>{0,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,92},{489,528}}</string>
                <key>sourceSize</key>
                <string>{489,620}</string>
            </dict>
            <key>itc_itt_mh3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{642,693}}</string>
                <key>offset</key>
                <string>{-5,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,16},{642,693}}</string>
                <key>sourceSize</key>
                <string>{750,773}</string>
            </dict>
            <key>itc_itt_num_.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,1227},{49,55}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,9},{49,55}}</string>
                <key>sourceSize</key>
                <string>{63,69}</string>
            </dict>
            <key>itc_itt_num_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{521,1954},{51,55}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{51,55}}</string>
                <key>sourceSize</key>
                <string>{63,69}</string>
            </dict>
            <key>itc_itt_num_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{759,1282},{55,53}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,9},{55,53}}</string>
                <key>sourceSize</key>
                <string>{63,69}</string>
            </dict>
            <key>itc_itt_num_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,1954},{53,57}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,8},{53,57}}</string>
                <key>sourceSize</key>
                <string>{63,69}</string>
            </dict>
            <key>itc_itt_num_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{753,1227},{55,53}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,10},{55,53}}</string>
                <key>sourceSize</key>
                <string>{63,69}</string>
            </dict>
            <key>itc_itt_num_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,1954},{49,55}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,9},{49,55}}</string>
                <key>sourceSize</key>
                <string>{63,69}</string>
            </dict>
            <key>itc_itt_num_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,1954},{51,55}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,9},{51,55}}</string>
                <key>sourceSize</key>
                <string>{63,69}</string>
            </dict>
            <key>itc_itt_num_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,1954},{53,55}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,9},{53,55}}</string>
                <key>sourceSize</key>
                <string>{63,69}</string>
            </dict>
            <key>itc_itt_num_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,1284},{55,53}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,9},{55,53}}</string>
                <key>sourceSize</key>
                <string>{63,69}</string>
            </dict>
            <key>itc_itt_outDoor.png</key>
            <dict>
                <key>frame</key>
                <string>{{625,1861},{65,159}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,18},{65,159}}</string>
                <key>sourceSize</key>
                <string>{97,195}</string>
            </dict>
            <key>itc_itt_outDoor_Light.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,461},{95,189}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{95,189}}</string>
                <key>sourceSize</key>
                <string>{97,195}</string>
            </dict>
            <key>itc_itt_shouJuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,1227},{144,44}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{144,44}}</string>
                <key>sourceSize</key>
                <string>{146,48}</string>
            </dict>
            <key>itc_itt_shouJuan2.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,1227},{257,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{257,133}}</string>
                <key>sourceSize</key>
                <string>{257,133}</string>
            </dict>
            <key>itc_itt_shouJuan4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1376},{612,576}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{612,576}}</string>
                <key>sourceSize</key>
                <string>{612,576}</string>
            </dict>
            <key>itc_itt_stone.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,1954},{123,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,74}}</string>
                <key>sourceSize</key>
                <string>{123,74}</string>
            </dict>
            <key>itc_itt_stoneLight.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1954},{123,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,74}}</string>
                <key>sourceSize</key>
                <string>{123,74}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>appearsInTheTemple.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a91a38f8256ee659e8a9661dd0b1d3eb:8bc5c5d711aae4021a438f1afa1a2aa8:fbabe6384cf43245535d1a9cb1a23934$</string>
            <key>textureFileName</key>
            <string>appearsInTheTemple.png</string>
        </dict>
    </dict>
</plist>
