<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>itc_itt_Table.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{615,457}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{615,457}}</string>
                <key>sourceSize</key>
                <string>{615,457}</string>
            </dict>
            <key>itc_itt__mh.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,1039},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>itc_itt_door.png</key>
            <dict>
                <key>frame</key>
                <string>{{619,2},{423,497}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{423,497}}</string>
                <key>sourceSize</key>
                <string>{423,497}</string>
            </dict>
            <key>itc_itt_fozhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{989,952},{76,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,36}}</string>
                <key>sourceSize</key>
                <string>{76,36}</string>
            </dict>
            <key>itc_itt_guanYin.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,501},{371,677}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{371,677}}</string>
                <key>sourceSize</key>
                <string>{371,677}</string>
            </dict>
            <key>itc_itt_lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{989,1097},{66,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,105}}</string>
                <key>sourceSize</key>
                <string>{66,105}</string>
            </dict>
            <key>itc_itt_lockLight.png</key>
            <dict>
                <key>frame</key>
                <string>{{989,990},{66,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,105}}</string>
                <key>sourceSize</key>
                <string>{66,105}</string>
            </dict>
            <key>itc_itt_mh_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,1542},{360,360}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,360}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>itc_itt_mh_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,1542},{360,360}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,360}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>itc_itt_mh_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1542},{360,360}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,360}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>itc_itt_mh_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{559,1180},{360,360}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,360}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>itc_itt_mh_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1039},{360,360}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,360}}</string>
                <key>sourceSize</key>
                <string>{360,360}</string>
            </dict>
            <key>itc_itt_num_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,1275},{63,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,69}}</string>
                <key>sourceSize</key>
                <string>{63,69}</string>
            </dict>
            <key>itc_itt_num_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{921,1251},{63,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,69}}</string>
                <key>sourceSize</key>
                <string>{63,69}</string>
            </dict>
            <key>itc_itt_num_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,1204},{63,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,69}}</string>
                <key>sourceSize</key>
                <string>{63,69}</string>
            </dict>
            <key>itc_itt_num_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{921,1180},{63,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,69}}</string>
                <key>sourceSize</key>
                <string>{63,69}</string>
            </dict>
            <key>itc_itt_num_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,1176},{63,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,69}}</string>
                <key>sourceSize</key>
                <string>{63,69}</string>
            </dict>
            <key>itc_itt_num_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,1236},{63,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,69}}</string>
                <key>sourceSize</key>
                <string>{63,69}</string>
            </dict>
            <key>itc_itt_num_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,1176},{63,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,69}}</string>
                <key>sourceSize</key>
                <string>{63,69}</string>
            </dict>
            <key>itc_itt_num_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,1165},{63,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,69}}</string>
                <key>sourceSize</key>
                <string>{63,69}</string>
            </dict>
            <key>itc_itt_num_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{489,1105},{63,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,69}}</string>
                <key>sourceSize</key>
                <string>{63,69}</string>
            </dict>
            <key>itc_itt_outDoor.png</key>
            <dict>
                <key>frame</key>
                <string>{{989,698},{97,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,195}}</string>
                <key>sourceSize</key>
                <string>{97,195}</string>
            </dict>
            <key>itc_itt_outDoor_Light.png</key>
            <dict>
                <key>frame</key>
                <string>{{989,501},{97,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,195}}</string>
                <key>sourceSize</key>
                <string>{97,195}</string>
            </dict>
            <key>itc_itt_shouJuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,1039},{146,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,48}}</string>
                <key>sourceSize</key>
                <string>{146,48}</string>
            </dict>
            <key>itc_itt_shouJuan2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1401},{257,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{257,133}}</string>
                <key>sourceSize</key>
                <string>{257,133}</string>
            </dict>
            <key>itc_itt_shouJuan4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,461},{612,576}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{612,576}}</string>
                <key>sourceSize</key>
                <string>{612,576}</string>
            </dict>
            <key>itc_itt_stone.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,1089},{123,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,74}}</string>
                <key>sourceSize</key>
                <string>{123,74}</string>
            </dict>
            <key>itc_itt_stoneLight.png</key>
            <dict>
                <key>frame</key>
                <string>{{989,895},{77,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,55}}</string>
                <key>sourceSize</key>
                <string>{77,55}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>appearsInTheTemple.png</string>
            <key>size</key>
            <string>{1088,1904}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6b2f97a13364be2388f7a137dbe93346:1e5fcf22cee2e45714c5e4a030e18951:fbabe6384cf43245535d1a9cb1a23934$</string>
            <key>textureFileName</key>
            <string>appearsInTheTemple.png</string>
        </dict>
    </dict>
</plist>
