<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>itc_itt_Table.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,1355},{615,457}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{615,457}}</string>
                <key>sourceSize</key>
                <string>{615,457}</string>
            </dict>
            <key>itc_itt__mh.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,1956},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>itc_itt_door.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,777},{423,497}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{423,497}}</string>
                <key>sourceSize</key>
                <string>{423,497}</string>
            </dict>
            <key>itc_itt_fozhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{923,1885},{76,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,36}}</string>
                <key>sourceSize</key>
                <string>{76,36}</string>
            </dict>
            <key>itc_itt_guanYin.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,2},{371,677}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{371,677}}</string>
                <key>sourceSize</key>
                <string>{371,677}</string>
            </dict>
            <key>itc_itt_lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,1921},{66,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,105}}</string>
                <key>sourceSize</key>
                <string>{66,105}</string>
            </dict>
            <key>itc_itt_lockLight.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,1814},{66,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,105}}</string>
                <key>sourceSize</key>
                <string>{66,105}</string>
            </dict>
            <key>itc_itt_mh2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1355},{489,620}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{489,620}}</string>
                <key>sourceSize</key>
                <string>{489,620}</string>
            </dict>
            <key>itc_itt_mh3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{750,773}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{750,773}}</string>
                <key>sourceSize</key>
                <string>{750,773}</string>
            </dict>
            <key>itc_itt_num_.png</key>
            <dict>
                <key>frame</key>
                <string>{{885,1814},{63,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,69}}</string>
                <key>sourceSize</key>
                <string>{63,69}</string>
            </dict>
            <key>itc_itt_num_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,1885},{63,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,69}}</string>
                <key>sourceSize</key>
                <string>{63,69}</string>
            </dict>
            <key>itc_itt_num_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,1814},{63,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,69}}</string>
                <key>sourceSize</key>
                <string>{63,69}</string>
            </dict>
            <key>itc_itt_num_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,1977},{63,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,69}}</string>
                <key>sourceSize</key>
                <string>{63,69}</string>
            </dict>
            <key>itc_itt_num_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,1977},{63,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,69}}</string>
                <key>sourceSize</key>
                <string>{63,69}</string>
            </dict>
            <key>itc_itt_num_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,1977},{63,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,69}}</string>
                <key>sourceSize</key>
                <string>{63,69}</string>
            </dict>
            <key>itc_itt_num_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,1977},{63,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,69}}</string>
                <key>sourceSize</key>
                <string>{63,69}</string>
            </dict>
            <key>itc_itt_num_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,1977},{63,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,69}}</string>
                <key>sourceSize</key>
                <string>{63,69}</string>
            </dict>
            <key>itc_itt_num_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,1977},{63,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,69}}</string>
                <key>sourceSize</key>
                <string>{63,69}</string>
            </dict>
            <key>itc_itt_outDoor.png</key>
            <dict>
                <key>frame</key>
                <string>{{1100,1814},{97,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,195}}</string>
                <key>sourceSize</key>
                <string>{97,195}</string>
            </dict>
            <key>itc_itt_outDoor_Light.png</key>
            <dict>
                <key>frame</key>
                <string>{{1001,1814},{97,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,195}}</string>
                <key>sourceSize</key>
                <string>{97,195}</string>
            </dict>
            <key>itc_itt_shouJuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1977},{146,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,48}}</string>
                <key>sourceSize</key>
                <string>{146,48}</string>
            </dict>
            <key>itc_itt_shouJuan2.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,1814},{257,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{257,133}}</string>
                <key>sourceSize</key>
                <string>{257,133}</string>
            </dict>
            <key>itc_itt_shouJuan4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,777},{612,576}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{612,576}}</string>
                <key>sourceSize</key>
                <string>{612,576}</string>
            </dict>
            <key>itc_itt_stone.png</key>
            <dict>
                <key>frame</key>
                <string>{{665,1949},{123,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,74}}</string>
                <key>sourceSize</key>
                <string>{123,74}</string>
            </dict>
            <key>itc_itt_stoneLight.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,1949},{123,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,74}}</string>
                <key>sourceSize</key>
                <string>{123,74}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>appearsInTheTemple.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:212bd4e0449b7523f1d0d056f4a34d23:8bc5c5d711aae4021a438f1afa1a2aa8:fbabe6384cf43245535d1a9cb1a23934$</string>
            <key>textureFileName</key>
            <string>appearsInTheTemple.png</string>
        </dict>
    </dict>
</plist>
