<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>arrow0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,153},{27,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,26}}</string>
                <key>sourceSize</key>
                <string>{27,26}</string>
            </dict>
            <key>arrow0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,153},{62,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,90}}</string>
                <key>sourceSize</key>
                <string>{62,90}</string>
            </dict>
            <key>attention_Box_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,300},{384,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{384,49}}</string>
                <key>sourceSize</key>
                <string>{384,49}</string>
            </dict>
            <key>attention_Box_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,251},{384,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{384,49}}</string>
                <key>sourceSize</key>
                <string>{384,49}</string>
            </dict>
            <key>attention_error.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,357},{489,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{489,46}}</string>
                <key>sourceSize</key>
                <string>{489,46}</string>
            </dict>
            <key>attention_notEnnugh.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,403},{471,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{471,46}}</string>
                <key>sourceSize</key>
                <string>{471,46}</string>
            </dict>
            <key>clickPick.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,449},{201,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,37}}</string>
                <key>sourceSize</key>
                <string>{201,37}</string>
            </dict>
            <key>clickToNear.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,349},{194,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,36}}</string>
                <key>sourceSize</key>
                <string>{194,36}</string>
            </dict>
            <key>clickUse.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,349},{146,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,37}}</string>
                <key>sourceSize</key>
                <string>{146,37}</string>
            </dict>
            <key>dj_backItem.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{750,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{750,179}}</string>
                <key>sourceSize</key>
                <string>{750,179}</string>
            </dict>
            <key>dj_box2.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,264},{132,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,132}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>icon_settting.png</key>
            <dict>
                <key>frame</key>
                <string>{{623,386},{134,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,79}}</string>
                <key>sourceSize</key>
                <string>{134,79}</string>
            </dict>
            <key>icon_syl.png</key>
            <dict>
                <key>frame</key>
                <string>{{489,385},{134,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,79}}</string>
                <key>sourceSize</key>
                <string>{134,79}</string>
            </dict>
            <key>icon_syq.png</key>
            <dict>
                <key>frame</key>
                <string>{{757,396},{134,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,80}}</string>
                <key>sourceSize</key>
                <string>{134,80}</string>
            </dict>
            <key>item_Box.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,0},{150,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,153}}</string>
                <key>sourceSize</key>
                <string>{150,153}</string>
            </dict>
            <key>item_fz.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,132},{132,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,132}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>item_stone.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,0},{132,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,132}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>talkBox.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,179},{500,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,178}}</string>
                <key>sourceSize</key>
                <string>{500,178}</string>
            </dict>
            <key>talkNameBox.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,179},{338,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{338,72}}</string>
                <key>sourceSize</key>
                <string>{338,72}</string>
            </dict>
            <key>usedItem.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,449},{259,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{259,43}}</string>
                <key>sourceSize</key>
                <string>{259,43}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>normal.png</string>
            <key>size</key>
            <string>{1032,492}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:58684e028ec37a5d324537d93fc7f605:457c08fd5b31ccd6943ca2d14f235779:042629d1e4b0ed6696f89f3e5b9b245e$</string>
            <key>textureFileName</key>
            <string>normal.png</string>
        </dict>
    </dict>
</plist>
