<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>arrow0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,471},{27,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,26}}</string>
                <key>sourceSize</key>
                <string>{27,26}</string>
            </dict>
            <key>arrow0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{951,398},{62,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,90}}</string>
                <key>sourceSize</key>
                <string>{62,90}</string>
            </dict>
            <key>attention_Box_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,626},{384,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{384,49}}</string>
                <key>sourceSize</key>
                <string>{384,49}</string>
            </dict>
            <key>attention_Box_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{623,624},{384,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{384,49}}</string>
                <key>sourceSize</key>
                <string>{384,49}</string>
            </dict>
            <key>attention_error.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,534},{489,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{489,46}}</string>
                <key>sourceSize</key>
                <string>{489,46}</string>
            </dict>
            <key>attention_notEnnugh.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,580},{471,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{471,46}}</string>
                <key>sourceSize</key>
                <string>{471,46}</string>
            </dict>
            <key>clickPick.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,398},{201,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,37}}</string>
                <key>sourceSize</key>
                <string>{201,37}</string>
            </dict>
            <key>clickToNear.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,435},{194,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,36}}</string>
                <key>sourceSize</key>
                <string>{194,36}</string>
            </dict>
            <key>clickUse.png</key>
            <dict>
                <key>frame</key>
                <string>{{489,534},{146,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,37}}</string>
                <key>sourceSize</key>
                <string>{146,37}</string>
            </dict>
            <key>dj_backItem.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,355},{750,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{750,179}}</string>
                <key>sourceSize</key>
                <string>{750,179}</string>
            </dict>
            <key>dj_box2.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,747},{132,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,132}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>icon_settting.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,879},{134,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,79}}</string>
                <key>sourceSize</key>
                <string>{134,79}</string>
            </dict>
            <key>icon_syl.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,651},{134,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,79}}</string>
                <key>sourceSize</key>
                <string>{134,79}</string>
            </dict>
            <key>icon_syq.png</key>
            <dict>
                <key>frame</key>
                <string>{{489,571},{134,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,80}}</string>
                <key>sourceSize</key>
                <string>{134,80}</string>
            </dict>
            <key>item_Box.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,471},{150,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,153}}</string>
                <key>sourceSize</key>
                <string>{150,153}</string>
            </dict>
            <key>item_fz.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,879},{132,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,132}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>item_stonne.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,747},{132,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,132}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>talkBox.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{1000,355}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1000,355}}</string>
                <key>sourceSize</key>
                <string>{1000,355}</string>
            </dict>
            <key>talkNameBox.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,675},{338,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{338,72}}</string>
                <key>sourceSize</key>
                <string>{338,72}</string>
            </dict>
            <key>usedItem.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,355},{259,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{259,43}}</string>
                <key>sourceSize</key>
                <string>{259,43}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>normal.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1001fea4101106f71ede067426197de7:a651c024d3dd9aea49aac9eb075e6b5f:042629d1e4b0ed6696f89f3e5b9b245e$</string>
            <key>textureFileName</key>
            <string>normal.png</string>
        </dict>
    </dict>
</plist>
