<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>anim_beimingzhonggu_01.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1133,1340},{375,667}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{375,667}}</string>
                <key>sourceSize</key>
                <string>{375,667}</string>
            </dict>
            <key>anim_beimingzhonggu_02.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1133,671},{375,667}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{375,667}}</string>
                <key>sourceSize</key>
                <string>{375,667}</string>
            </dict>
            <key>anim_beimingzhonggu_03.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{756,1340},{375,667}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{375,667}}</string>
                <key>sourceSize</key>
                <string>{375,667}</string>
            </dict>
            <key>anim_beimingzhonggu_04.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{756,671},{375,667}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{375,667}}</string>
                <key>sourceSize</key>
                <string>{375,667}</string>
            </dict>
            <key>anim_beimingzhonggu_05.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1510,2},{375,667}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{375,667}}</string>
                <key>sourceSize</key>
                <string>{375,667}</string>
            </dict>
            <key>anim_beimingzhonggu_06.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1133,2},{375,667}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{375,667}}</string>
                <key>sourceSize</key>
                <string>{375,667}</string>
            </dict>
            <key>anim_beimingzhonggu_07.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{756,2},{375,667}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{375,667}}</string>
                <key>sourceSize</key>
                <string>{375,667}</string>
            </dict>
            <key>anim_beimingzhonggu_08.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{379,1340},{375,667}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{375,667}}</string>
                <key>sourceSize</key>
                <string>{375,667}</string>
            </dict>
            <key>anim_beimingzhonggu_09.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{379,671},{375,667}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{375,667}}</string>
                <key>sourceSize</key>
                <string>{375,667}</string>
            </dict>
            <key>anim_beimingzhonggu_10.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{379,2},{375,667}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{375,667}}</string>
                <key>sourceSize</key>
                <string>{375,667}</string>
            </dict>
            <key>anim_beimingzhonggu_11.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,1340},{375,667}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{375,667}}</string>
                <key>sourceSize</key>
                <string>{375,667}</string>
            </dict>
            <key>anim_beimingzhonggu_12.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,671},{375,667}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{375,667}}</string>
                <key>sourceSize</key>
                <string>{375,667}</string>
            </dict>
            <key>anim_beimingzhonggu_13.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{375,667}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{375,667}}</string>
                <key>sourceSize</key>
                <string>{375,667}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>anim_beimingzhonggu.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6070b7950859e33b693437a2fea7627e:44a283821716befa315c3b808dc49648:4e81065f0817696c4fe64ed78a45561b$</string>
            <key>textureFileName</key>
            <string>anim_beimingzhonggu.png</string>
        </dict>
    </dict>
</plist>
