<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>arrow0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2001,2},{27,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,26}}</string>
                <key>sourceSize</key>
                <string>{27,26}</string>
            </dict>
            <key>arrow0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,878},{62,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,90}}</string>
                <key>sourceSize</key>
                <string>{62,90}</string>
            </dict>
            <key>attention_Box_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,958},{384,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{384,49}}</string>
                <key>sourceSize</key>
                <string>{384,49}</string>
            </dict>
            <key>attention_Box_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,970},{384,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{384,49}}</string>
                <key>sourceSize</key>
                <string>{384,49}</string>
            </dict>
            <key>attention_error.png</key>
            <dict>
                <key>frame</key>
                <string>{{1362,951},{489,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{489,46}}</string>
                <key>sourceSize</key>
                <string>{489,46}</string>
            </dict>
            <key>attention_notEnnugh.png</key>
            <dict>
                <key>frame</key>
                <string>{{1408,697},{471,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{471,46}}</string>
                <key>sourceSize</key>
                <string>{471,46}</string>
            </dict>
            <key>backWhite.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,970},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>btn_Back_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1010,877},{242,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,77}}</string>
                <key>sourceSize</key>
                <string>{242,77}</string>
            </dict>
            <key>btn_Pass_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1853,41},{109,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,37}}</string>
                <key>sourceSize</key>
                <string>{109,37}</string>
            </dict>
            <key>clickPick.png</key>
            <dict>
                <key>frame</key>
                <string>{{1634,2},{201,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,37}}</string>
                <key>sourceSize</key>
                <string>{201,37}</string>
            </dict>
            <key>clickToNear.png</key>
            <dict>
                <key>frame</key>
                <string>{{1634,41},{194,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,36}}</string>
                <key>sourceSize</key>
                <string>{194,36}</string>
            </dict>
            <key>clickUse.png</key>
            <dict>
                <key>frame</key>
                <string>{{1853,2},{146,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,37}}</string>
                <key>sourceSize</key>
                <string>{146,37}</string>
            </dict>
            <key>dj_backItem.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,697},{750,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{750,179}}</string>
                <key>sourceSize</key>
                <string>{750,179}</string>
            </dict>
            <key>dj_box2.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,878},{132,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,132}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>icon_settting.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,877},{134,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,79}}</string>
                <key>sourceSize</key>
                <string>{134,79}</string>
            </dict>
            <key>icon_syl.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,878},{134,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,79}}</string>
                <key>sourceSize</key>
                <string>{134,79}</string>
            </dict>
            <key>icon_syq.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,878},{134,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,80}}</string>
                <key>sourceSize</key>
                <string>{134,80}</string>
            </dict>
            <key>item_Box.png</key>
            <dict>
                <key>frame</key>
                <string>{{1256,697},{150,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,153}}</string>
                <key>sourceSize</key>
                <string>{150,153}</string>
            </dict>
            <key>item_fz.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,878},{132,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,132}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>item_stone.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,878},{132,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,132}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>item_tuzhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,878},{132,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,132}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>pop_fozhu_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{1090,2},{542,693}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{542,693}}</string>
                <key>sourceSize</key>
                <string>{542,693}</string>
            </dict>
            <key>pop_shitou_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,2},{542,693}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{542,693}}</string>
                <key>sourceSize</key>
                <string>{542,693}</string>
            </dict>
            <key>pop_tuzhi_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{542,693}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{542,693}}</string>
                <key>sourceSize</key>
                <string>{542,693}</string>
            </dict>
            <key>talkBox.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,697},{500,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,178}}</string>
                <key>sourceSize</key>
                <string>{500,178}</string>
            </dict>
            <key>talkNameBox.png</key>
            <dict>
                <key>frame</key>
                <string>{{1254,877},{338,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{338,72}}</string>
                <key>sourceSize</key>
                <string>{338,72}</string>
            </dict>
            <key>usedItem.png</key>
            <dict>
                <key>frame</key>
                <string>{{1408,745},{259,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{259,43}}</string>
                <key>sourceSize</key>
                <string>{259,43}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>normal.png</string>
            <key>size</key>
            <string>{2048,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0e5f81286c3601e3d3d4b77c4652e034:700c8a0ec374e64b9401da5bdbd3ea1d:042629d1e4b0ed6696f89f3e5b9b245e$</string>
            <key>textureFileName</key>
            <string>normal.png</string>
        </dict>
    </dict>
</plist>
