<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>background_013.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1150,1024},{575,1024}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{575,1024}}</string>
                <key>sourceSize</key>
                <string>{575,1024}</string>
            </dict>
            <key>background_014.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1150,0},{575,1024}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{575,1024}}</string>
                <key>sourceSize</key>
                <string>{575,1024}</string>
            </dict>
            <key>background_015.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{575,1024},{575,1024}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{575,1024}}</string>
                <key>sourceSize</key>
                <string>{575,1024}</string>
            </dict>
            <key>background_016.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{575,0},{575,1024}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{575,1024}}</string>
                <key>sourceSize</key>
                <string>{575,1024}</string>
            </dict>
            <key>background_017.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{0,1024},{575,1024}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{575,1024}}</string>
                <key>sourceSize</key>
                <string>{575,1024}</string>
            </dict>
            <key>background_018.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{575,1024}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{575,1024}}</string>
                <key>sourceSize</key>
                <string>{575,1024}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>background_part3.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8a7be347254ef76ebab52298a08238ee:c18930c17ed180d41bcf988cf67cec7f:0a663d37dee36e85f682a64e98c36171$</string>
            <key>textureFileName</key>
            <string>background_part3.png</string>
        </dict>
    </dict>
</plist>
